.model {
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #12674a;
}

.model-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid black;
  width: 80%;
  animation-name: animateModel;
  animation-duration: 0.5s;
}

.cancel-button {
  cursor: pointer;
  font-size: 30px;
  font-weight: 600;
  float: right;
}

.header {
  padding: 4px 16px;
  background-color: #442b48;
  color: #fefefe;
}

.body {
  padding: 2px 16px;
  height: 200px;
  background-color: #e4dfda;
}

.footer {
  padding: 4px 16px;
  background-color: #442b48;
  color: #fefefe;
}

button{
    background-color: black;
    color: #fff;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 20px;
   
    border-radius: 10px;
    cursor: pointer;
}

@keyframes animateModel {
  from {
    top: -200px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
